<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Prevent Duplicates in Input</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="app/app.css" rel="stylesheet">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="bower_components/angular/angular-messages.js"></script>

    <script src="app/app.js"></script>

</head>
<body ng-controller="myController">

<form name="productForm" ng-submit="addStyle(productForm.$valid)" novalidate>
<input name="style" id="style" type="text" ng-model="product.style" capitalize check-duplicate required>

    <!--<button ng-click="checkDuplicate()">Check Duplicate and add product</button> {{isDuplicate}}-->
<button type="submit">Add Style</button>

        <span ng-messages="productForm.style.$error">
        <span class="my-danger" ng-message="isDuplicateValue"> Duplicate Warning: {{product.style}} is already present in the System </span>
        </span>

        <span ng-messages="productForm.style.$touched && productForm.style.$error">
        <span class="my-warning" ng-message="required"> Style is Required </span>
        </span>

    <!--{{productForm.style.$error | json}}-->
</form>
<br>
<table class="table">
    <thead>
        <th>Style</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in allStyles">
            <td>{{item.style}}</td>
            <td><button ng-click="allStyles.$remove(item)">Delete</button> </td>
        </tr>
    </tbody>
</table>

</body>
</html>