.my-danger {
    background-color: red;
    color: #ffffff;
    padding: 3px;
}

.my-warning {
    background-color: orange;
    color: #ffffff;
    padding: 3px;
}

.test {
    background-color: gold;
}

.selected {
    background-color: lightsalmon;
}

.hovering {
    background-color: lightyellow;
}

.selected-and-hovering {
    background-color: lightsalmon;
}