<div class="container">
    <h2> Style & Category Matrix </h2>
    <br>

    <form class="form-inline" name="productForm" ng-submit="" novalidate>
        <div class="form-group">
        <!--style entry-->
        <label class="sr-only" for="style">Style</label>
        <input class="form-control" name="style" id="style" type="text" placeholder="Style-Model" ng-model="product.style" capitalize>

        <button type="reset" ng-click="product.style=''">Clear</button>
        <button type="button" ng-click="enterData()">Add Styles</button>
        </div>
    </form>

    <br>

    <table class="table table-responsive">
        <thead>
        <th>Style</th>
        <th>Category</th>
        <th>Color</th>
        <th style="width: 15%;text-align: right">Retail</th>
        <th>Last Updated</th>
        </thead>
        <tbody>
        <tr ng-repeat="item in allStyles | filter: {
        style: product.style || '',
        category: {name: product.category.name || ''}} | orderBy:'dateAdded':true | limitTo: 20"
            ng-click="setSelected($index)"
            ng-class="{hovering: hoverState,
                       selected: $index === clickedRow,
                       'selected-and-hovering':hoverState && $index === clickedRow}"
                ng-mouseenter="hoverState = true"
                ng-mouseleave="hoverState = false">
            <td>{{item.style}}</td>
            <td style="">{{item.category.name}}</td>
            <td style="background-color: {{item.category.color}};width: 20px"></td>
            <td style="text-align: right;width: 15%">{{item.category.retail | currency}}</td>
            <td>{{item.dateAdded | date:'short'}}</td>
            </tr>
        </tbody>
    </table>
</div>