<div class="container">
    <h2> Style & Category Matrix <a class="h4 text-danger" ng-href="#entry"> Add Styles </a> </h2>
    <br>

    <form name="productForm" novalidate>

        <!--style entry-->
        <label for="style">Style</label>
        <input name="style" id="style" type="text" ng-model="product.style" capitalize>

        <!--Category Entry-->
        <label for="categoryOptions">Category</label>
        <select name="categoryOptions" id="categoryOptions" ng-model="product.category"
                ng-options="categoryOption.name for categoryOption in categoryOptions" required>
            <!--<option value="" disabled selected style="display: none;">Select a category...</option>-->
            <!--can only add one hard coded option inside ng-options-->
            <option value="" selected>Select a category...</option>
        </select>

        <button type="reset" ng-click="product.style='';product.category=''">Clear</button>

        <!--{{productForm.style.$error | json}}-->
    </form>
    <br>
    <table class="table">
        <thead>
        <th>Style</th>
        <th>Category</th>
        <th>Color</th>
        <th style="width: 15%;text-align: right">Retail</th>
        </thead>
        <tbody>
        <tr ng-repeat="item in allStyles | filter: {
        style: product.style || '',
        category: {name: product.category.name || ''}}">
            <td>{{item.style}}</td>
            <td style="">{{item.category.name}}</td>
            <td style="background-color: {{item.category.color}};width: 20px"></td>
            <td style="text-align: right;width: 15%">{{item.category.retail | currency}}</td>
        </tr>
        </tbody>
    </table>
</div>